@font-face {
    font-family: gothic;
    src: url(../fonts/font.ttf);
    font-weight: normal;
    font-style: normal;
}

/**
    GENERAL STYLES
*/

body {
    max-width: 1920px;
    margin: auto;
    font-family: gothic;
}

header , #login-form {
    background-color: #007bb3;
    color: white;
}

header {
    padding: 10px;
}

header h2 {
    padding: 0 35px;
}

nav {
    display: block;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 2px 15px;
}

nav ul li:not(:last-child){
    border-right: 2px solid white;
}

nav ul li a {
    color: white;
    padding: 20px;
}

label , h4.first-time{
    text-align: left!important;
    color: #007bb3; 
}

textarea {
    resize: none;
}

.page-title {
    min-width: 15%;
    max-width: 25%;
    display: inline-block;
    padding: 15px;
    background-color: #007bb3;
    color: white;
    text-align: center;
}

.form-group {
    margin: 10px auto;
}

.note {
    display: block;
    padding: 15px;
    color: #007bb3;
    font-weight: 500;
    font-style: italic;
    text-decoration: underline;
    font-weight: 700;
}

sup {
    color: red;
    font-size: 0.8em;
}

a:hover {
    color: white;
}

.hint {
    display: block;
    padding: 15px;
    color: #007bb3;
    margin: 15px;
}

.sub-link {
    border: 2px solid white;
    padding: 5px;
}

.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.7);
    z-index: 999;
    display: none;
}

.alert .content {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    transform: translate( 0 , -50% );
    padding: 42px 35px;
    text-align: right;
    box-shadow: 0 0 15px rgba(0,0,0,.7);
    background-color: white;
}

.alert .message {
    text-align: center;
    color: #007bb3;
}

.btn-isgh {
    
    padding: 5px 15px;
    margin: 5px 5px;
    border: 2px solid rgba(128,128,128,.5);
    background: white;
    color: #007bb3;
}

.alert button {
    min-width: 42px;
    width: 72px;
}

.alert button:focus {
    outline: none;
}

[type="checkbox"][disabled]:hover {
    cursor: pointer;
}

.notification {
    position: fixed;
    right: 2.5%;
    bottom: 2.5%;
    padding: 25px;
    min-width: 220px;
    box-shadow: 0 0 25px rgba(0,0,0,.5);
    text-align: center;
    opacity: 0;
    color: #007bb3;
    font-size: 1.15em;
    z-index: 900;
    background-color: white;
    transform: translateX(25px);
    cursor: pointer;
    transition: transform 500ms , opacity 500ms , box-shadow 500ms;
}

.notification:hover {
    box-shadow: 5px 5px 25px rgba(0,0,0,.75);
}

.appear {
    opacity: 1;
    transform: translateX(0);
}

audio {
    display: none;
}

div[ng-messages] {
    color: maroon;
    padding: 0 15px;
}

input.ng-pristine + div[ng-messages] , select.ng-pristine + div[ng-messages] , textarea.ng-pristine + div[ng-messages]{
    visibility: hidden;
}

.tabs-links {
    text-align: center;
}

.tabs-links button {
    width: 45%;
    padding: 10px 0;
    margin: 0;
    font-size: 1.5em;
    font-weight: 700;
    border: 1px solid rgba(128,128,128,.75);
    background-color: white;
    color: #007bb3;
}

.content-tabs{
    position: relative;
}

.tab-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

.active-tab {
    background-color: #007bb3!important;
    color: white!important;
}

.tab-content > h3 {
    padding: 10px 55px;
}

.tab-content h4 {
    padding: 15px;
}

tr {
    transition: all 500ms;
}

tbody tr:hover {
    color: white;
    background-color: #007bb3;
}

.removed {

    transform: translateX(-120px);
    opacity: 0;
}

.inline-link:hover {
    color: #007bb3;
}

.profile-page-picture {
    max-width: 100%;
    max-height: 150px;
}

/**

    LOGIN PAGE AND LOGIN FORM

*/

#login-form {
    width: 25%;
    margin: 10% auto;
    padding: 5%;
    padding-top: 0;
}

#auth-img {
    display: block;
    margin: auto;
    max-width: 82px;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 15px rgba(0,0,0,.5);
}

#login-form legend {
    border: none;
    font-size: 3em;
    color: white;
    text-align: center;
    font-weight: bold;
}

#login-form input:not([type="checkbox"]) {
    display: block;
    margin: 5px auto;
    min-height: 32px;
    text-align: center;
}

#login-form input:not([type="submit"]):not([type="checkbox"]){
    width: 100%;
    color: rgba(0,0,0,.7);
    font-weight: bold;
}

#login-form input[type="submit"]:not([type="checkbox"]){
    color: #007bb3;
    background-color: white;
    border: 2px solid #ccc;
    font-size: 1.75em;
    padding: 3px 15px;
}

#login-form label {
    color: #ccc;
}

#login-form a {
    display: block;
    color: #ccc;
    text-align: right;
    margin: 0 10px;
}

/**

    PROFILE PAGE

*/

.bio {
    padding: 35px;
    margin: 15px;
    font-size: 1.25em;
    min-height: 250px;
    max-height: 550px;
    overflow-y: auto;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
}

.username {
    margin-top: 80px;
    transform: translateY(-40px);
}

/**

    UPDATE PROFILE

*/

.edit-img {
    display: block;
    margin: 30px auto;
    min-width: 92px;
    max-width: 161px;
    min-height: 155px;
    max-height: 161px;
    background-image: url(/assets/images/user.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.profile-pic {
    width: 50%;
    margin: auto;
    max-width: 170px;
    min-width: 92px;
}

/**

    CREATE ISLAMIC CENTER

*/

label[for="start_time"] , label[for="end_time"] {
    margin-top: 7px;
}



/**
    NEW MEMBERS
*/

#members-form .form-group{
    margin-bottom: 15px;
}

#members-form input[name="reviewer"] , #members-form input[name="role"]{
    transform: translateY(3.5px);
}

/**

    RATING PAGE

*/

.rating-row {
    padding: 15px;
    padding-bottom: 20px;
    border-bottom: 2px solid gray;
}

.rating-img {
    max-height: 120px;
    min-height: 92px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.rating-name {
    margin-top: 30px;
}

.stars {
    margin-top: 30px;
    text-align: right;
}

i.star-off-png , i.star-on-png, .raty-cancel {
    width: 22px;
    height: 22px;
    margin: 5px;
    color: #007bb3;
}

#allUsers {
    padding: 15px;
}

/**

    AVAILABLE/BLOCKED DATES

*/


.dates-calendar {
    background-color: #e6e6e6;
    padding: 10px;
    box-shadow: 0 0 25px gray;
    width: 800px;
    margin: auto;
}

.date {
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 5px 8px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 5px gray;
    position: relative;
    transition: all 300ms;
    cursor: pointer;
}

.date:hover {
    box-shadow: 0 0 20px #007bb3;
}

.date.available {
    transform: scale(0.92,0.92);
    background-color: #007bb3;
    color: white;
}

.date input[type="checkbox"]{
    display: block;
    margin: 15px auto;
}

.dates-calendar + input[type="submit"]{
    margin: 15px;
}

.date-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50% , -50%);
}

.options {
    padding: 10px;
    margin: 5px;
    text-align: right;
}

/** 

    EDIT / DELETE MEMBERS

*/

table:not(.schedule) {
    width: 75%!important;
    margin: auto;
}

th , td {
    text-align: center;
    padding: 10px;
}

td > button {
    margin: 15px 5px!important;
    transition: box-shadow 300ms;
}

td > button:hover {
    box-shadow: 0 0 15px #007bb3;
}

/**
    SCHEDULE
*/

.schedule-opts {
    padding: 0 15px;
    margin: 15px;
}

.schedule tr {
    border-bottom: 1px solid rgba(128,128,128,.5);
    transition: initial;
}
