@font-face {
    font-family: gothic;
    src: url(../fonts/font.ttf);
    font-weight: normal;
    font-style: normal;
}

/**
    GENERAL STYLES
*/

body {
    max-width: 1920px;
    margin: auto;
    font-family: gothic;
}

header , #login-form {
    background-color: #007bb3;
    color: white;
}

header {
    padding: 10px;
}

h4 {
    padding: 15px;
}

h2 {
    margin-bottom: 0;
    color: #fff;
    margin-top: 5px;
}

button.navbar-toggle {
    color: #fff;
    font-size: 2em;
}

.navbar {
    background-color: #007bb3;
    border: none;
    border-radius: 0;
}

nav {
    display: block;
    margin-bottom: 0!important;
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

label , h4.first-time{
    text-align: left!important;
    color: #007bb3; 
}

textarea {
    resize: none;
}

.page-title {
    background-color: #007bb3;
    color: white;
    text-align: center;
    margin: 0;
    margin-top: 15px;
    font-size: 1.5em;
    padding: 10px 0;
}

.form-group {
    margin: 10px auto;
}

.note {
    display: block;
    padding: 15px;
    color: #007bb3;
    font-weight: 500;
    font-style: italic;
    text-decoration: underline;
    font-weight: 700;
}

sup {
    color: red;
    font-size: 0.8em;
}

a:hover {
    color: white;
}

.hint {
    display: block;
    padding: 15px;
    color: #007bb3;
    margin: 15px;
}

.text-danger {
    padding: 0 15px;
}

.sub-link {
    border: 2px solid white;
    padding: 5px;
}

.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.7);
    z-index: 9999;
    display: none;
}

.alert .content {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    transform: translate( 0 , -50% );
    padding: 42px 35px;
    text-align: right;
    box-shadow: 0 0 15px rgba(0,0,0,.7);
    background-color: white;
}

.alert .message {
    text-align: center;
    color: #007bb3;
}

.btn-isgh {
    padding: 5px 15px;
    margin: 5px 5px;
    border: 2px solid rgba(128,128,128,.5);
    background: white;
    color: #007bb3;
    white-space: normal;
}

.alert button {
    min-width: 42px;
    width: 72px;
}

.alert button:focus {
    outline: none;
}

[type="checkbox"][disabled]:hover {
    cursor: pointer;
}

.notification {
    position: fixed;
    right: 2.5%;
    bottom: 2.5%;
    padding: 25px;
    min-width: 220px;
    box-shadow: 0 0 25px rgba(0,0,0,.5);
    text-align: center;
    opacity: 0;
    color: #007bb3;
    font-size: 1.15em;
    z-index: 900;
    background-color: white;
    transform: translateX(25px);
    cursor: pointer;
    transition: transform 500ms , opacity 500ms , box-shadow 500ms;
}

.notification:hover {
    box-shadow: 5px 5px 25px rgba(0,0,0,.75);
}

.appear {
    opacity: 1;
    transform: translateX(0);
}

audio {
    display: none;
}

div[ng-messages] {
    color: maroon;
    padding: 0 15px;
}

input.ng-pristine + div[ng-messages] , select.ng-pristine + div[ng-messages] , textarea.ng-pristine + div[ng-messages]{
    visibility: hidden;
}

.tabs-links {
    text-align: center;
    padding: 15px;
}

.tabs-links button {
    width: 30%;
    padding: 10px 0;
    margin: 0;
    font-size: 1.5em;
    font-weight: 700;
    border: 1px solid rgba(128,128,128,.75);
    background-color: white;
    color: #007bb3;
    margin-top: 5px;
}

.tabs-links button:focus {
    outline: none;
}

.art-link {
    font-size: 90%;
    color: #007bb3;
}

.art-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.bg-info {
    padding: 5px;
    text-indent: 10px;
}

@media (max-width: 768px){
    .tabs-links button {
        width: 100%;
        margin: 10px 0;
    }
}

.content-tabs{
    position: relative;
}

.tab-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

.active-tab {
    background-color: #007bb3!important;
    color: white!important;
}

h3 {
    text-indent: 10px;
}

.tab-content > h3 {
    padding: 10px 55px;
}

.tab-content h4 {
    padding: 15px;
}

tr {
    transition: all 500ms;
}

tbody tr:hover {
    color: white;
    background-color: #007bb3;
}

.removed {
    transform: translateX(-120px);
    opacity: 0;
}

.inline-link:hover {
    color: #007bb3;
}

.profile-page-picture {
    width: 25%;
    padding-bottom: 25%;
    margin: 0 auto;
    margin-top: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px){
    .profile-page-picture {
        max-width: 140px;
        padding-bottom: 140px;
    }
}

.username h1{
    font-size: 1.5em!important;
}

@media (max-width: 440px){
    .profile-page-picture {
        display: block;
        margin-top: 25px!important;
        width: 50%;
        padding-bottom: 50%;
        margin: 0 auto;
    }
    

}

@media (min-width: 440px) and (max-width: 768px){
    .profile-page-picture {
        width: 35%;
        padding-bottom: 35%;
        margin: 10px auto;
    }
}

.stars {
    position: relative;
    display: inline-block;
}

.stars:after , .stars:before {
    position: absolute;
    top: -20px;
    font-size: 80%;
    font-weight: bold;
}

.stars:after {
    content: "Most Preferable";
    right: -24px;
}

.stars:before {
    content: "Least Preferable";
    left: -24px;
}

.navbar a {
    color: white;
}

.navbar {
    width: 100%;
}

.navbar-nav {
    float: none;
    text-align: center;
}

.navbar-nav a {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}

.navbar-nav a:hover {
    background-color:transparent!important;
    color: #fff!important;
    text-decoration: underline!important;
}

.navbar-nav li {
    margin: 15px;
    display: inline-block;
    float: none;
}

.quick-start {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    border: thin solid #ccc;
    padding: 35px;
    transition: all 300ms;
    margin-top: 10px;
}

.quick-start > i {
    display: block;
    font-size: 3em;
    margin: 10px;
}

.quick-start:hover , .quick-start:focus {
    color: #fff;
    background-color: #337ab7;
    text-decoration: none;
    transform: scale(1.05);
}

@media (min-width: 320px) and (max-width: 420px){
    .quick-start {
        display: block;
        width: 100%;
        
    }
}

/**

    LOGIN PAGE AND LOGIN FORM

*/

#login-form {
    position: relative;
    width: 25%;
    margin: 10% auto;
    padding: 5%;
    padding-top: 0;
}

#auth-img {
    display: block;
    margin: auto;
    max-width: 82px;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 15px rgba(0,0,0,.5);
}

#login-form legend {
    border: none;
    font-size: 3em;
    color: white;
    text-align: center;
    font-weight: bold;
}

#login-form input:not([type="checkbox"]) {
    display: block;
    margin: 5px auto;
    min-height: 32px;
    text-align: center;
}

#login-form input:not([type="submit"]):not([type="checkbox"]){
    width: 100%;
    color: rgba(0,0,0,.7);
    font-weight: bold;
}

#login-form input[type="submit"]:not([type="checkbox"]){
    color: #007bb3;
    background-color: white;
    border: 2px solid #ccc;
    font-size: 1.75em;
    padding: 3px 15px;
}

#login-form label {
    color: #ccc;
}

#login-form a {
    display: block;
    color: #ccc;
    text-align: right;
    margin: 0 10px;
}

.errors {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    background-color: red;
    color: white;
    font-size: 1.15em;
    box-shadow: 0 0 15px black;
    box-sizing: border-box;
}

@media (max-width: 768px){
    #login-form {
        width: 100%;
        margin-top: 0;
        padding-top: 25px;
        border-top: thin solid #ddd;
    }
    
    #auth-img {
        transform: translateY(5%);
    }
}

@media (min-width: 768px) and (max-width: 1400px){
    #login-form {
        width: 35%;
    }
}


/**

    PROFILE PAGE

*/

.bio {
    padding: 35px;
    margin: 15px 0;
    font-size: 1.25em;
    min-height: 250px;
    max-height: 550px;
    overflow-y: auto;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
}

.username {
    margin-top: 80px;
    transform: translateY(-40px);
    text-transform: capitalize;
}

/**

    UPDATE PROFILE

*/

.edit-img {
    display: block;
    margin: 30px auto;
    min-width: 92px;
    max-width: 161px;
    min-height: 155px;
    max-height: 161px;
    background-image: url(/assets/images/user.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.profile-pic {
    width: 50%;
    margin: auto;
    max-width: 170px;
    min-width: 92px;
}

/**

    CREATE ISLAMIC CENTER

*/

label {
    margin-top: 10px;
    text-indent: 10px;
}

label[for="start_time"] , label[for="end_time"] {
    margin-top: 7px;
}



/**
    NEW MEMBERS
*/

#members-form .form-group{
    margin-bottom: 15px;
}

#members-form input[name="reviewer"] , #members-form input[name="role"]{
    transform: translateY(3.5px);
}

/**

    RATING PAGE

*/

.rating-row {
    padding: 15px;
    padding-bottom: 20px;
    border-bottom: 2px solid gray;
}

.rating-img {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.rating-name {
    font-size: 1.2em;
    font-weight: 400;
    opacity: 0.8;
    margin-top: 30px;
    text-transform: capitalize;
}

.stars {
    margin-top: 30px;
    text-align: right;
}

i.star-off-png , i.star-on-png, .raty-cancel {
    width: 22px;
    height: 22px;
    margin: 5px;
    color: #007bb3;
}

#allUsers {
    padding: 15px;
}

.ok-mark {
    color: green;
    visibility: hidden;
    font-size: 1.5em!important;
}

/**

    AVAILABLE/BLOCKED DATES

*/


.dates-calendar {
    background-color: #e6e6e6;
    padding: 10px;
    box-shadow: 0 0 25px gray;
    width: 800px;
    margin: auto;
}

.date {
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 5px 8px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 5px gray;
    position: relative;
    transition: all 300ms;
    cursor: pointer;
}

.date:hover {
    box-shadow: 0 0 20px #007bb3;
}

.date.available {
    transform: scale(0.92,0.92);
    background-color: #008726;
    color: white;
}

.date input[type="checkbox"]{
    display: block;
    margin: 15px auto;
}

.dates-calendar + input[type="submit"]{
    margin: 15px;
}

.date-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50% , -50%);
}

.options {
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.reserved {
    transform: scale(0.85);
    position: relative;
}

.reserved:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
}

/** 

    EDIT / DELETE MEMBERS

*/

table:not(.schedule):not(.edit-table) {
    width: 75%!important;
    margin: auto;
}

th , td {
    text-align: center;
    padding: 10px;
}

td > button {
    margin: 15px 5px!important;
    transition: box-shadow 300ms;
}

td > button:hover {
    box-shadow: 0 0 15px #007bb3;
}

/**
    SCHEDULE
*/

.schedule-opts {
    padding: 0 15px;
    margin: 15px;
}

.schedule tr {
    border-bottom: 1px solid rgba(128,128,128,.5);
    transition: initial;
}

[class^="col-"] {
    padding-right: 0!important;
    padding-left: 0!important;
}

.row {
    margin: 0!important;
}

.address-part {
    margin-top: 5px;
}

.ic-table {
    margin-top: 15px!important;
}

.rating-options {
    margin-top: 35px;
}

@media (max-width: 1110px){
    .navbar-nav li {
        display: block;
    }
    
    .page-title {
        font-size: 1.5em;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: thin solid #ddd;
        margin-top: 0;
    }

}

@media (max-width: 800px){
    .dates-calendar {
        width: 100%;
        box-shadow: initial;
        background-color: transparent;
    }
}

@media (max-width: 400px){
    .date{
        width: 100%;
        height: 0;
        padding-bottom: 100%;
    }
    .date-content h4 , .date-content h5 {
        font-size: 1.75em;
    }
}

@media (min-width: 400px) and (max-width: 600px){
    .date {
        width: 45%;
        height: 0;
        padding-bottom: 45%;
    }
    
    .date-content h4 , .date-content h5 {
        font-size: 1.75em;
    }
}

@media (min-width: 600px) and (max-width: 800px){
    .date {
        width: 30%;
        height: 0;
        padding-bottom: 30%;
        box-sizing: border-box;
    }
}

@media (min-width: 320px) and (max-width: 420px) {
    .rating-img {
        width: 50%;
        padding-bottom: 50%;
        height: 0;
        margin: 0 auto;
    }
    
    .rating-name {
        font-size: 1em;
        font-weight: 600;
        text-align: center;
        margin-top: 15px;
    }
}

@media (min-width: 420px) and (max-width: 768px){
    .rating-img {
        width: 30%;
        padding-bottom: 30%;
        margin: 0 auto;
    }
    
    .rating-name {
        font-size: 1em;
        font-weight: 600;
        text-align: center;
        margin-top: 15px;
    }
}

@media (min-width: 768px){
    .rating-img {
        max-width: 140px;
        padding-bottom: 140px;
    }
    
    .rating-name {
        margin-top: 60px;
    }
    
    .master-stars {
        margin-top: 30px;
    }
}

/*

@media (max-width: 768px){
    td ,th {
        display: block;
    }
}*/
