<h2 class="page-title">Available/Blocked Dates</h2>


<div class="cntainer-fluid">
    
    <div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
        
        <h3>Name</h3>
        <form>
            <div class="dates-calendar">

                <div class="date">Friday<input type="checkbox"></div>
                <div class="date">Friday<input type="checkbox"></div>
                <div class="date">Friday<input type="checkbox"></div>
                <div class="date">Friday<input type="checkbox"></div>
                <div class="date">Friday<input type="checkbox"></div>
                <div class="date">Friday<input type="checkbox"></div>
                <div class="date">Friday<input type="checkbox"></div>
                <div class="date">Friday<input type="checkbox"></div>
                <div class="date">Friday<input type="checkbox"></div>
                <div class="date">Friday<input type="checkbox"></div>
                <div class="date">Friday<input type="checkbox"></div>
                <div class="date">Friday<input type="checkbox"></div>
                
            </div>
            <input type="submit" value="Submit" class="btn btn-primary pull-right">
        </form>
        
    </div>
    
</div>